.development {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: rgb(244,241,235);
    font-family: 'Times New Roman', Times, serif;
}

.label {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.single-project {
  margin: 20px 100px 10px 100px;
}

.project-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.project-link:hover {
  color: rgb(19, 69, 175);
}

.project-title {
  font-size: 24px;
  color: black;
}

.project-language {
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;

}
.project-description {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .development {
    height: 95vh;
    margin: 0%;
  }

  .single-project {
    margin-left: 0px;
  }
  .project-title {
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    color: black;
  }

  .project-language {
    margin-left: 30px;
    text-align: left;
    margin-left: 10px;
  }
  .project-description {
    margin-left: 30px;
  }
}