.Resume {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    background-color: rgb(244,241,235);
    font-family: 'Times New Roman', Times, serif;
}

.info {
    padding: 20px 30px;
}

.label {
    font-size: 24px;
    margin-bottom: 10px;
}

.individual-header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 0px;
    margin-bottom: 5px;
    align-items: left;
}

.individual-header > p {
    margin-right: 20px;
}

.individual-title {
    font-size: 18px;
    font-weight: bold;
}

.individual-information {
    margin-left: 130px;
}

/* About */
.About {
    border-bottom: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}
.name {
    font-size: 25px;
    font-weight: bold;
}

.name > p {
    margin: 5px;
}

.title {
    font-size: 15px;
}

.contactInfo {
    font-size: 12px;
    color:rgb(64,64,64);
    display: flex;
    flex-direction: column;
}

.contactInfo > p {
    margin: 5px;
}

/* Work Experience */
.work-experience {
    border-bottom: 2px solid grey;
}

.label {
    margin-top: 20px;
}
.time {
    font-size: 14px;
}


.location {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 14px;
    font-style: italic;
}

.individual-information > ul {
    list-style: circle;
    line-height: 22px;
}

.singleJob {
    margin-bottom: 15px;
}

/* Education */
.single-school {
    margin-bottom: 15px;
}
.education {
    border-bottom: 2px solid grey;
}

.school-header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
    align-items: left;
}

.school-location {
    margin-top: 0px;
    font-size: 14px;
    font-style: italic;
}
.school-header > p {
    margin: 2px;
}

.school-title {
    font-size: 18px;
    font-weight: bold;
}

.school-information {
    margin-top: 10px;
    margin-left: 130px;
}

/* Skills */
.skills {
    border-bottom: 2px solid grey;
}
.skills-development {
    display: flex;
    flex-direction: column;
}

.all-rows {
    display: flex;
    flex-direction: column;
    padding-left: 130px;
}

.single-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 10px;
}

.item {
    margin-right: 5%;
}

@media screen and (max-width: 1200px) {
    .Resume {
        margin: 0%;
    }

    .label {
        text-align: center;
    }

    .About {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
    }

    .name {
        margin-bottom: 20px;
    }

    .individual-header {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-bottom: 10px;
    }

    .individual-header > p {
        margin-right: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .individual-title {
        font-size: 18px;
        margin-bottom: 0px;
        margin-top: 10px;
        font-weight: bold;
    }

    .individual-information {
        margin-left: 0px;
    }

    .location {
        text-align: left;
        margin-top: 0px;
        font-size: 14px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .school-header {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }

    .school-title {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .school-information {
        margin-left: 0px;
    }

    .time {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .all-rows {
        display: flex;
        flex-direction: column;
        padding-left: 3%;
        justify-content: left;
    }

    .single-row {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .item {
        margin: 10px;
    }
}