/*General App Css */
.App {
  margin: 3% 15%;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  font-family: 'Times New Roman', Times, serif;
}

.info {
  padding: 20px 30px;
}

.label {
  font-size: 24px;
}

.individual-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.individual-header > p {
  margin-right: 20px;
}

.individual-title {
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: bold;
}

.individual-information {
  margin-left: 130px;
}

/* About */
.About {
  border-bottom: 2px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.name {
  font-size: 25px;
  font-weight: bold;
}

.name > p {
  margin: 5px;
}

.title {
  font-size: 15px;
}

.contactInfo {
  font-size: 12px;
  color:rgb(64,64,64);
  display: flex;
  flex-direction: column;
}

.contactInfo > p {
  margin: 5px;
}

/* Work Experience */

.work-experience {
  border-bottom: 2px solid grey;
}

.time {
  font-size: 14px;
}


.location {
  margin-top: 0px;
  font-size: 14px;
}

.individual-information > ul {
  list-style: circle;
  line-height: 22px;
}

/* Education */

.education {
  border-bottom: 2px solid grey;
}

.school-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.school-location {
  margin-top: 0px;
  font-size: 14px;
}
.school-header > p {
  margin-right: 20px;
}

.school-title {
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: bold;
}

.school-information {
  margin-left: 130px;
}

/* Skills */

.skills {
  border-bottom: 2px solid grey;
}
.skills-development {
  display: flex;
  flex-direction: column;
}

.all-rows {
  display: flex;
  flex-direction: column;
  padding-left: 130px;
}

.single-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.item {
  margin-right: 5%;
}

.single-project {
  margin-left: 130px;
}
.project-title {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.project-title > a:hover {
  color: red;
}

.project-language {
  margin-left: 50px;

}
.project-description {
  margin-left: 50px;
}

@media screen and (max-width: 1200px) {
  .App {
    margin: 0%;
  }

  .label {
    text-align: center;
  }
  .About {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
  }

  .name {
    margin-bottom: 20px;
  }

  .individual-header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .individual-header > p {
    margin-right: 20px;
  }

  .individual-title {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: bold;
  }

  .individual-information {
    margin-left: 0px;
  }

  .location {
    text-align: left;
    margin-top: 0px;
    font-size: 14px;
  }

  .school-header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }

  .school-information {
    margin-left: 0px;
  }

  .all-rows {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    justify-content: left;
  }

  .single-row {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .item {
    margin: 10px;
  }

  .single-project {
    margin-left: 0px;
  }
  .project-title {
    font-size: 20px;
    color: black;
  }

  .project-title > a:hover {
    color: red;
  }

  .project-language {
    margin-left: 30px;

  }
  .project-description {
    margin-left: 30px;
  }
}